.App-header {
  background-color: #D9C462;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
}

.icon {
  width: 300px;
  justify-content: center;
  align-items: center;
}
