.display-container {
    background-color: gray;
}

.recipe-container {
    background-color: #F5F0D5;
    font-family: monospace;
}

.recipe-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}

.recipe-subheading {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: bold;
    font-family: monospace;
}

.recipe-contents {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-left: 20px;
    font-family: monospace;
}